<h1>All Recipes</h1>


<% @recipes.each do |recipe| %>
  <%= image_tag recipe.image, :class => 'thumb', :alt => recipe.name if recipe.image.present? %>
  <ul>
    <li><%= link_to recipe.name, recipe %></li>
    <li>Time: <%= recipe.duration %></li>
  </ul>
<% end %>
