<h1>Nat's Cooking</h1>



<% if @current_user.present?  %>
  <p>
    Welcome <%= @current_user.email %>!
  </p>
<% end  %>

<img src="https://media.giphy.com/media/KctJ8XZ5MuFsCA6zHb/giphy.gif" alt="Cooking">
