<h1>Nat's Cooking</h1>



<% if @current_user.present?  %>
  <p>
    Welcome <%= @current_user.email %>!
  </p>
<% end  %>

<img src="https://media.giphy.com/media/KctJ8XZ5MuFsCA6zHb/giphy.gif" alt="Cooking">

<p>Always buy and cook fresh ingredients. Buy ingredients that are in season, forget about the ones that aren't in season - they're expensive and taste like rubbish.</p>

<p>Cooking should be inclusive - if someone has an alergy or is vegetarian/vegan, make something that can adapt to defferent food preferences. It's not hard to add dairy or meat as a last ingredient. This means that everyone can enjoy the dish!</p>

<p>Cooking with LOVE is what makes it all worth while! Dean Martin expresses it best below. . . </p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/aFSv-tq5GAY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
