// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #E9E4EC;
  font-family: 'Julius Sans One', sans-serif;
  list-style-type: none;
}

.thumb {
  height: 12em;
}

.main {
  max-height: 30em;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  color: #5D001E;
}

.navigate {
  color: #5D001E;
}

nav {
  display: flex;
  justify-content: space-between;
  color: #5D001E;
  }

.hero {
  background-color: #C5BFC8;
}

#recipe {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}

#title {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 25px;
  list-style-type: none;
}

.top-banner-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 350px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-content: center;
  justify-content: center;

h2 {
  color: #9A1750;
}

nav {
  color: #5D001E;
}

a {
  color: #5D001E;
  text-decoration: none;
}

a:hover {
  color: #EE4C7C;
  text-decoration: underline;
}
