// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #E9E4EC;
}

.thumb {
  height: 12em;
}

.main {
  max-height: 30em;
}
